<div id="slider2">
      <br>
      <div class="panel top-div">
        <!-- <h2 class="name">Dillon Cortez</h2>
      <hr> -->
        <div class="photo-icon">
          <%= image_tag "self_composed_pic_c.jpg", class: "photo-icon" %>
        </div>  
      <!-- <hr> -->
       <span class="social-icons"> 
          <a href="https://github.com/grandmasterspoc"><i class="fi-social-github"></i></a>
          <a href="www.linkedin.com/in/dilloncortez"><i class="fi-social-linkedin"></i></a>
          <a href="http://dilloncortez.vsco.com/"><i class="fi-camera"></i></a>
        </span>
      </div>
</div>    
       <div class="title-text">
       <h2>I'm Dillon Cortez.</h2> 
       <h4>I'll build your website.</h4>
          <span><i class="fi-mobile"></i><i class="fi-monitor"></i><i class="fi-laptop"></i></span>
          <!-- <h3>Web Developer</h3> -->
      </div>

<div class="icons">
<div class='jumbotron skill-tron'>
<div class="skills">
  <div class="buffer"></div>
  <br>
  <h2>Anyhting you want</h2>  
  <h4>because I use</h4>
</div>
<div class="row icon-row">
<div class="small-4 columns icon-pic">
  <a href="https://www.ruby-lang.org/en/">
    <img class="photo" src="http://bit.ly/1RcgjTy"/>
  </a>
  <!-- <</h4 class="skills">Ruby</h4> -->
</div>
<div class="small-4 columns icon-pic">
  <a href="http://rubyonrails.org/">
    <img class="photo" src="http://bit.ly/1MVHofc"/>
  </a>
  <!-- <</h4 class="skills">Ruby On Rails</h4> -->
</div>
<div class="small-4 columns icon-pic">
  <a href="http://www.javascript.com">
    <img class="photo" src="http://bit.ly/1iFXBI3"/>
  </a>
  <!-- <</h4 class="skills">Javascript</h4> -->
</div>

  <div class="small-4 columns icon-pic">
    <a href="https://angularjs.org">
      <img class="photo" src="http://bit.ly/1GdegrY"/>
    </a>
    <!-- <</h4 class="skills">AngularJS</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="https://jquery.com">
      <img class="photo" src="http://bit.ly/1jFVm8v"/>
    </a>
    <!-- <</h4 class="skills">jQuery</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="https://nodejs.org/en/">
      <img class="photo"src="http://bit.ly/1jFDDhR"/>
    </a>
    <!-- <</h4 class="skills">node.js</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="https://www.python.org">
      <img class="photo"src="http://bit.ly/1h4FwSY"/>
    </a>
    <!-- <</h4 class="skills">Python</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://git-scm.com/">
      <img class="photo" src="http://bit.ly/1u5gp82"/>
    </a>
    <!-- <</h4 class="skills">GitHub</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.postgresql.org/">
      <img class="photo" src="http://bit.ly/1jG0NEk"/>
    </a>
    <!-- <</h4 class="skills">PostgreSQL</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.cplusplus.com/">
      <img class="photo" src="http://bit.ly/1FP0Am3"/>
    </a>
    <!-- <</h4 class="skills">C++</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.cprogramming.com/">
      <img class="photo" src="http://bit.ly/1Rn0ZDV"/>
    </a>
    <!-- <</h4 class="skills">C</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.w3schools.com/css/css3_intro.asp">
      <img class="photo" src="http://bit.ly/1ObtFzC"/>
    </a>
    <!-- <</h4 class="skills">CSS</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.w3schools.com/html/html5_intro.asp">
      <img class="photo" src="http://bit.ly/1fbHVJO"/>
    </a>
    <!-- <</h4 class="skills">HTML5</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://redis.io/">
    <img class="photo" src="http://bit.ly/1iUcfeV"/>
  </a>
    <!--</ <h4 class="skills">Redis</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://aws.amazon.com/">
    <img class="photo" src="http://bit.ly/1PVDikQ"/>
  </a>
    <!--</ <h4 class="skills">AWS</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.sublimetext.com/">
      <img class="photo" src="http://bit.ly/1YY2Bcc"/>
    </a>
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.iterm2.com/">
      <img class="photo" src="http://bit.ly/1KSdPHT"/>
    </a>
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.dilloncortez.vsco.co">
      <img class="photo" src="http://bit.ly/1YKTawK"/>
    </a>  
  </div>
</div>  
</div>  
</div>

<div id="slider">
  <div class="large-12 columns">
  
    <div class="panel text-box">
        
        <div class="text">
          <br>
          <h4>You can even send texts!</h4>
          <p>Try sending yourself one.</p>
        
    
          <%= form_for Message.new do |f| %>
            <%= f.label "Your Name" %>
            <%= f.text_field :name %>
            <%= f.label "Your Number" %>
            <%= f.text_field :number %>
            <%= f.label "Message" %>
            <%= f.text_area :text_message %>
            <%= f.submit "Try it!", class:"submit button" %>
          <% end %>
       </div>
    </div>
    
  </div>
</div>

<div class="mail-box panel">
  <h2>Or maybe you want to send emails.</h2>
  <h4>You can do that too.</h4>

</div>    
 

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>


