<div id="slider2">
      <br>
      <div class="panel top-div">
        <!-- <h2 class="name">Dillon Cortez</h2>
      <hr> -->
        <div class="photo-icon">
          <h1>DILLON CORTEZ</h1>
        </div>  
      <!-- <hr> -->
       <div class="social-icons"> 
          <a href="https://github.com/grandmasterspoc"><div class="github small-5 columns"><h6>Github</h6></div></a>
          <a href="http://dilloncortez.vsco.com/"><div class="vsco small-2 columns"><h6>VSCO </h6></div></a>
          <a href="https://www.linkedin.com/in/dilloncortez"><div class="linkedin small-5 columns"><h6>LinkedIn </h6></div></a>
        </div>
      </div>
</div>    
<div class="title-text"> 
  <div class="text"><h2>I'll build anything you want</h2></div>
  <span><i class="fi-mobile"></i><i class="fi-monitor"></i><i class="fi-laptop"></i></span> 
</div>

<div class="icons">
<div class='jumbotron skill-tron'>
<div class="skills">
  <div class="buffer"></div>
  <br>
  <div class="skills-title"><h2>Because I use</h2></div>  
</div>
<div class="row icon-row">
<div class="small-4 columns icon-pic">
  <a href="https://www.ruby-lang.org/en/">
    <img class="photo" src="http://bit.ly/1RcgjTy"/>
  </a>
  <!-- <</h4 class="skills">Ruby</h4> -->
</div>
<div class="small-4 columns icon-pic">
  <a href="http://rubyonrails.org/">
    <img class="photo" src="http://bit.ly/1MVHofc"/>
  </a>
  <!-- <</h4 class="skills">Ruby On Rails</h4> -->
</div>
<div class="small-4 columns icon-pic">
  <a href="http://www.javascript.com">
    <img class="photo" src="http://bit.ly/1iFXBI3"/>
  </a>
  <!-- <</h4 class="skills">Javascript</h4> -->
</div>

  <div class="small-4 columns icon-pic">
    <a href="https://angularjs.org">
      <img class="photo" src="http://bit.ly/1GdegrY"/>
    </a>
    <!-- <</h4 class="skills">AngularJS</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="https://jquery.com">
      <img class="photo" src="http://bit.ly/1jFVm8v"/>
    </a>
    <!-- <</h4 class="skills">jQuery</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="https://nodejs.org/en/">
      <img class="photo"src="http://bit.ly/1jFDDhR"/>
    </a>
    <!-- <</h4 class="skills">node.js</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="https://www.python.org">
      <img class="photo"src="http://bit.ly/1h4FwSY"/>
    </a>
    <!-- <</h4 class="skills">Python</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://git-scm.com/">
      <img class="photo" src="http://bit.ly/1u5gp82"/>
    </a>
    <!-- <</h4 class="skills">GitHub</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.postgresql.org/">
      <img class="photo" src="http://bit.ly/1jG0NEk"/>
    </a>
    <!-- <</h4 class="skills">PostgreSQL</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.cplusplus.com/">
      <img class="photo" src="http://bit.ly/1FP0Am3"/>
    </a>
    <!-- <</h4 class="skills">C++</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.cprogramming.com/">
      <img class="photo" src="http://bit.ly/1Rn0ZDV"/>
    </a>
    <!-- <</h4 class="skills">C</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.w3schools.com/css/css3_intro.asp">
      <img class="photo" src="http://bit.ly/1ObtFzC"/>
    </a>
    <!-- <</h4 class="skills">CSS</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.w3schools.com/html/html5_intro.asp">
      <img class="photo" src="http://bit.ly/1fbHVJO"/>
    </a>
    <!-- <</h4 class="skills">HTML5</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://redis.io/">
    <img class="photo" src="http://bit.ly/1iUcfeV"/>
  </a>
    <!--</ <h4 class="skills">Redis</h4> -->
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://aws.amazon.com/">
    <img class="photo" src="http://bit.ly/1PVDikQ"/>
  </a>
    <!--</ <h4 class="skills">AWS</h4> -->
  </div>

  <div class="small-4 columns icon-pic">
    <a href="http://www.sublimetext.com/">
      <img class="photo" src="http://bit.ly/1YY2Bcc"/>
    </a>
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.iterm2.com/">
      <img class="photo" src="http://bit.ly/1KSdPHT"/>
    </a>
  </div>
  <div class="small-4 columns icon-pic">
    <a href="http://www.dilloncortez.vsco.co">
      <img class="photo" src="http://bit.ly/1YKTawK"/>
    </a>  
  </div>
</div>  
</div>  
</div>

<div id="slider">
  <div class="slider-cover large-12 columns">
  
    <div class="panel text-box">
        
        <div class="text">
          <br>
          <h3>Let's Be Partners</h3>
          <p>Send me a quick message</p>
          <%= form_for Message.new do |f| %>
            <%= f.label "Name" %>
            <%= f.text_field :name %>
            <%= f.label "Number or Email" %>
            <%= f.text_field :number %>
            <%= f.label "Message" %>
            <%= f.text_area :text_message %>
            <!-- <button class="submit button" type="submit" name="commit"><h6>SEND</h6></button> -->
            <input type="submit" name="commit" value="Send This Message" class="submit button">
          <% end %>
       </div>
    </div>
    
  </div>
</div>

<!-- <div class="mail-box">
  <h2>Lets Be Partners</h2>
</div>   -->  
 

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        Coding For The Greator Good.
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>dilloncortez@gmail.com</li>
        </ul>
      </div>
    </div>
  </div> 
</footer>


